$primary:       #56C4C5 !default;
$yellow:        #F6CB52 !default;
$pink:          #FF5D50 !default;
$white:         #FFFFFF !default;;

// gray
$gray-100:      #F5F5F5 !default;
$gray-200:      #DDDDDD !default;
$gray-300:      #F7F9FD !default;
$gray-400:      #747474 !default;

// black
$dark-100:      #00000014 !default;
$dark-200:      #221E1F !default;